@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Music Video Test</h1>

<p>
<button onclick="motion()">Click Me</button>
</p>

<div>
    <iframe id="animation" width="560" height="315" src="https://www.youtube.com/embed/DDWAk8-leVA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>



